@font-face{
	font-family: courgette;
	src: url(Fuentes/courgette.ttf);
}

@font-face{
	font-family: lobster;
	src: url(Fuentes/lobster.ttf);
}

@font-face{
	font-family: greatvibes;
	src: url(Fuentes/greatvibes.ttf);
}

/*ESTO ES PRUEBA SE PUEDE SIMPLEMENTE HACER LLAMADO DE LA LETRA EN CUALQUIER PARTE DEL CSS*/
li{
	font-family: courgette;
}

/*
.abajo{
	font-family: lobster;
}*/